<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.ActorMapper">
	<insert id="insertActor" parameterType="com.gd.sakila.vo.Actor">
		INSERT INTO actor(
			first_name,
			last_name
		) VALUES (
			UPPER(#{firstName}),
			UPPER(#{lastName})
		)
	</insert>
	
	<!-- select return타입은 무조건 제네릭 타입 -->
	<select id="selectActorInfoList" parameterType="java.util.Map" resultType="java.util.Map"> 
		SELECT
			actor_id actorId,
			CONCAT(first_name, ' ', last_name) name,
			film_info filmInfo
		FROM
			actor_info
		<where>
			<if test="actor != null">
				first_name LIKE CONCAT('%',#{actor},'%')
			</if>
			<if test="actor != null">
				OR last_name LIKE CONCAT('%',#{actor},'%')
			</if>
		</where>
			LIMIT
				#{beginRow},#{rowPerPage}		
	</select>
	
	<select id="selectActorTotal" resultType="Integer" parameterType="java.util.Map">
		SELECT COUNT(*) FROM actor_info
		<where>
			<if test="actor != null">
				first_name LIKE CONCAT('%',#{actor},'%')
			</if>
			<if test="actor != null">
				OR last_name LIKE CONCAT('%',#{actor},'%')
			</if>
		</where>
	</select>
</mapper>