<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.CustomerMapper">
	<select id="selectCustomerList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			name, 
			phone, 
			SID, 
			ID
		FROM customer_list
		<where>
			<if test="name != null">
				AND name like CONCAT('%',#{name},'%')
			</if>
			<if test="phone != null">
				AND phone = #{phone}
			</if>
			<if test="SID != null">
				AND SID = #{SID}
			</if>
		</where>
		ORDER BY ID asc
		LIMIT #{beginRow}, #{rowPerPage}
		
	</select>
	
	<select id="totalCustomer" parameterType="java.util.Map" resultType="Integer">
		SELECT
			COUNT(*)
		FROM customer_list
		<where>
			<if test="name!=null">
				name like CONCAT('%',#{name},'%')
			</if>
			<if test="name!=null">
				OR phone = #{phone}
			</if>
		</where>
	</select>
	
	<update id="updateCustomerActiveByScheduler">
		UPDATE customer c, (SELECT customer_id, max(rental_date), DATEDIFF(NOW(), max(rental_date))
                      FROM rental
                  GROUP BY customer_id
                    HAVING DATEDIFF(NOW(), max(rental_date)) > 365) A
		SET c.active = 0
		WHERE c.customer_id = A.customer_id
	</update>
</mapper>