<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.FilmMapper">
	<!-- Map : filmId(in), storeId(in), filmCount(out) / in은 입력, out은 출력 
		vo 생성이 아닌 Map으로 처리-->
	<select id="selectFilmInStock" parameterType="java.util.Map" resultType="int" statementType="CALLABLE">
	<!-- 프로시저 사용할때는 statementType="CALLABLE"를 추가해야한다.  -->
	{
		call film_in_stock(
			#{filmId},
			#{storeId},
			#{filmCount, mode=OUT, jdbcType=DECIMAL, javaType=Integer}
		)
	}	
	</select>
	
	<update id="updateFilmCategory" parameterType="com.gd.sakila.vo.FilmForm">
	UPDATE film_category
		SET category_id = #{categoryId}
	WHERE film_id = #{filmId}
	
	</update>
	
	<update id="updateFilm" parameterType="com.gd.sakila.vo.Film">
		UPDATE film
			SET title = #{title},
				description = #{description},
				release_year = #{releaseYear},
				language_id = #{languageId},
				original_language_id = #{originalLanguageId},
				rental_duration = #{rentalDuration},
				rental_rate = #{rentalRate},
				length = #{length},
				replacement_cost = #{replacementCost},
				rating = #{rating},
				special_features = #{specialFeatures}
		WHERE film_id = #{filmId}
	
	</update>	
	
	<select id="selectFilmListByInventory" resultType="com.gd.sakila.vo.Film">
		SELECT
			film_id filmId,
			title
		FROM
			film
	</select>
	
	<insert id="insertFilmCategory" parameterType="java.util.Map">
		INSERT INTO film_category (
			film_id,
			category_id
		) VALUES(
			#{filmId},
			#{categoryId}
		)
	</insert>
	
	<insert id="insertFilm" parameterType="com.gd.sakila.vo.Film">
		<selectKey keyProperty="filmId" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO film (
			title, description, release_year, language_id, original_language_id,
			rental_duration, rental_rate, length, replacement_cost, rating,
			special_features			
		) VALUES(
			#{title}, #{description}, #{releaseYear}, #{languageId}, #{originalLanguageId},
			#{rentalDuration}, #{rentalRate}, #{length}, #{replacementCost}, #{rating},
			#{specialFeatures}
		)					
	</insert>

	<insert id="insertActorListByFilm" parameterType="java.util.Map">
		INSERT INTO
			film_actor(
				actor_id, film_id
				)
		VALUES
			<foreach collection="actorId" item="actorId" separator=", ">
	 			(#{actorId}, #{filmId})
	 		</foreach>
	
	</insert>
	<delete id="deleteActorListByFilm" parameterType="int">
		DELETE 
		FROM film_actor
		WHERE film_id=${filmId}
	</delete>
	
	<select id="selectActorListByFilm" parameterType="int" resultType="java.util.Map">
		SELECT 
			a.actor_id actorId,
			CONCAT(a.first_name,' ',a.last_name) name,
			film_id filmId
		FROM actor a 
			LEFT JOIN (	SELECT *
						FROM film_actor
						WHERE film_id=${filmId}) t
			ON a.actor_id=t.actor_id
			ORDER BY filmId DESC, name
	</select>
	
	<select id="selectFilmOne" parameterType="Integer" resultType="java.util.Map">
		SELECT 
			f.film_id filmId,
			f.title title,
			f.description description,
			f.release_year releaseYear,
			l.name name, 
			f.rental_duration rentalDuration,
			f.rental_rate rentalRate, 
			f.length length, 
			f.replacement_cost replacementCost,
			f.rating rating,
			f.special_features specialFeatures,
			f.last_update lastUpdate,
			fl.actors actors,
			fl.category category
		FROM film f 
			LEFT JOIN film_list fl ON f.film_id = fl.FID
			JOIN language l ON f.language_id = l.language_id
		WHERE film_id = #{filmId}
	</select>
	
	<select id="selectFilmList" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT 	FID,
				title,
				category,
				price,
				length,
				rating
		FROM film_list
		<where>
			<if test="categoryName != null">
				AND category = #{categoryName}
			</if>
			<if test="title != null">
				AND title LIKE CONCAT('%',#{title},'%')
			</if>
			<if test="price != null">
				AND price = #{price}
			</if>
			<if test="rating != null">
				AND rating = #{rating}
			</if>
			<if test="actors != null">
				AND actors LIKE CONCAT('%',#{actors},'%')
			</if>
		</where>
			ORDER BY FID ASC
			LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectTotal" resultType="Integer" parameterType="java.util.Map">
		SELECT COUNT(*) FROM film_list
		<where>
			<if test="categoryName != null">
				AND category = #{categoryName}
			</if>
			<if test="title != null">
				AND title LIKE CONCAT('%',#{title},'%')
			</if>
			<if test="price != null">
				AND price = #{price}
			</if>
			<if test="rating != null">
				AND rating = #{rating}
			</if>
			<if test="actors != null">
				AND actors LIKE CONCAT('%',#{actors},'%')
			</if>
		</where>
	</select>

</mapper>