<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.PaymentMapper">
	
	<select id="selectPaymentByMonth" resultType="java.util.Map">
		SELECT
			CONCAT( Year(payment_date), '.', MONTH(payment_date)) date,
			SUM(amount) amount,
			s.store_id storeId
		FROM payment p  INNER JOIN staff s ON p.staff_id=s.staff_id		
		GROUP BY Year(payment_date), MONTH(payment_date)), s.store_id
	</select>
	
	<select id="selectPaymentByDay" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			CONCAT( Year(payment_date), '.', MONTH(payment_date),'.',DAY(payment_date)) date,
			SUM(amount) amount,
			s.store_id storeId
		FROM payment p  INNER JOIN staff s ON p.staff_id=s.staff_id
		WHERE YEAR(p.payment_date) = #{year} AND MONTH(p.payment_date) = #{month}
		GROUP BY Year(payment_date), MONTH(payment_date),DAY(payment_date), s.store_id
	</select>

	<select id="selectPaymentByCustomer" parameterType="java.util.Map" resultType="java.util.Map">
	SELECT SUM(amount) totalPayment
	FROM payment
	WHERE customer_id = #{customerId}
	</select>
</mapper>